<div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Inbox <span class="badge">4</span></div>
        <div class="panel-body">
            <p>
                <button class="btn btn-primary" type="button">
                        <!-- <div>Messages <span class="badge">4</span></div> -->
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </button>
                Download and view your correspondence.          
            </p>
        </div>

        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Application
                    </th>
                    <th>
                        Date
                    </th>
                    <th>

                    </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Spouse CD
                    </td>
                    <td>
                        111552.0
                    </td>
                    <td>
                        2017-03-01
                    </td>
                    <td>
                            <button class="btn btn-primary" type="button">
                                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                            </button>

                    </td>
                </tr>
                <tr>
                    <td>
                        MSFAA
                    </td>
                    <td>
                        342114.1
                    </td>
                    <td>
                        2015-04-14
                    </td>
                    <td>
                            <button class="btn btn-primary" type="button">
                                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                            </button>

                    </td>
                   
                </tr>
                <tr>
                    <td>
                        Student Award Letter
                    </td>
                    <td>
                        431113.2
                    </td>
                    <td>
                        2017-09-12
                    </td>
                    <td>
                            <button class="btn btn-primary" type="button">
                                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                            </button>

                    </td>
                   
                </tr>
                <tr>
                    <td>
                        MSFAA Instructions
                    </td>
                    <td>
                        342114.1
                    </td>
                    <td>
                        2017-11-02
                    </td>
                    <td>
                            <button class="btn btn-primary" type="button">
                                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                            </button>

                    </td>
                   
                </tr>
            </tbody>
        </table>
    </div>
