<div class="page-title">
    <h2>
        Dynamic Loading of Widgets
    </h2>
    <hr />
</div>
<ul>
    <li>Populate Widgets on Initial Load</li>
    <li>Any ng life cycle event, including constructor</li>
</ul>

<div class="page-title">
    <h3>
        Demo Portal
    </h3>
</div>
<div class="row">
    <div class="col-md-6">
        <widget-outlet key="location 1.1"></widget-outlet>
    </div>
    <div class="col-md-6">
        <widget-outlet key="location 1.2"></widget-outlet>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <widget-outlet key="location 1.3"></widget-outlet>
    </div>
    <div class="col-md-6">
        <widget-outlet key="location 1.4"></widget-outlet>
    </div>

</div>