.header {
    background-color: rgb(88,194,225);    
}
.header .autosize{
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
 }

 .header .navbar-nav li a {
    background-color: #24a9d1;
    color: black;
 }
.header .navbar-brand  {
    max-width: 450px;     
    height: auto;
}

.header.navbar-default  {
    border-color:  rgb(88,194,225);    
}
 

@media all and (max-width:768px) {
    .header .navbar-brand  {
        max-width: 325px;
    }

}

@media all and (max-width:400px) {
    .header .navbar-brand {
        max-width: 200px;
    }

}