<div class="container">
    <div class="row">
            <div class="col-md-3">
                    <widget-outlet location="2">
                    </widget-outlet>
                </div>

            <div class="col-md-6">
                    <widget-outlet location="3">
                    </widget-outlet>
                </div>
                
                <div class="col-md-3">
                    <widget-outlet location="4">
                    </widget-outlet>
                </div>
            
    </div>
    <div class="row">
            <div class="col-md-3">
                    <widget-outlet location="5">
                    </widget-outlet>
            
                </div>
                <div class="col-md-3">
                    <widget-outlet location="6">
                    </widget-outlet>
            
                </div>
            
            <div class="col-md-3">
                    <widget-outlet location="7">
                    </widget-outlet>
            
                </div>
                <div class="col-md-3">
                    <widget-outlet location="7">
                    </widget-outlet>
            
                </div>
            
    </div>
</div>