<div class="form-group" [formGroup]="formGroup">
  <label>First Name</label>
  <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
</div>
<div class="form-group" [formGroup]="formGroup">
  <label>First Name</label>
  <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
</div>
<div class="form-group" [formGroup]="formGroup">
  <label>Birthdate</label>
  <input type="text" class="form-control" formControlName="birthdate" placeholder="Birthdate">
</div>
<div class="form-group" [formGroup]="formGroup">
  <label>Gender</label>
  <input type="text" class="form-control" formControlName="gender" placeholder="Gender">
</div>