<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Sections</div>
  <div class="panel-body">
    <form class="form-inline" [formGroup]="formGroup">
      <div class="form-group">
          <input class="form-control" formControlName="title" type="text">    
      </div>
      <button class="btn btn-primary btn-sm" (click)="addSection()">Add</button>
    </form>

   
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li [ngClass]="{'active': currentSection == section }" (click)="selectSection(section)" class="list-group-item" *ngFor="let section of sections">
      {{ section.title }} 
    </li>
  </ul>


</div>

