<h3 class="page-header"> {{ concept.title }} </h3>

<img *ngIf="concept.img == 'bootstrap'" class="img-responsive" src="../../images/bootstrap.svg">
<img *ngIf="concept.img == 'mvc'" class="img-responsive" src="../../images/mvc.svg">
<img *ngIf="concept.img == 'databinding'" class="img-responsive" src="../../images/databinding.svg">
<img *ngIf="concept.img == 'ngmodule'" class="img-responsive" src="../../images/ngmodule.svg">
<img *ngIf="concept.img == 'module-deps'" class="img-responsive" src="../../images/module-deps.svg">
<img *ngIf="concept.img == 'import-export'" class="img-responsive" src="../../images/import-export.svg">
<img *ngIf="concept.img == 'module-linking'" class="img-responsive" src="../../images/module-linking.svg">
<img *ngIf="concept.img == 'dependency-injection'" class="img-responsive" src="../../images/dependency-injection.svg">
<img *ngIf="concept.img == 'provider-scope'" class="img-responsive" src="../../images/provider-scope.svg">