<img class="img-responsive" src="../../images/bootstrap.svg"> 
<img class="img-responsive" src="../../images/mvc.svg"> 
<img class="img-responsive" src="../../images/databinding.svg">
<img class="img-responsive" src="../../images/ngmodule.svg">
<img class="img-responsive" src="../../images/module-deps.svg"> 
<img class="img-responsive" src="../../images/import-export.svg">
<img class="img-responsive" src="../../images/module-linking.svg">
<img class="img-responsive" src="../../images/dependency-injection.svg">
<img class="img-responsive" src="../../images/provider-scope.svg">