/*!
 * Theme File
 */
/*! theme.css *

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
.header>.navbar {
    background-color: rgb(88,194,225);    
}
.header>.navbar .autosize{
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
 }
 .header>.navbar .navbar-nav li {
     display:inline;
  }
 .header>.navbar .navbar-nav li a {
    background-color: #24a9d1;
    color: black;
 }
.header>.navbar .navbar-brand  {
    max-width: 450px;     
    height: auto;
}

.header>.navbar.navbar-default  {
    border-color:  rgb(88,194,225);    
}
 

@media all and (max-width:768px) {
    .header>.navbar .navbar-brand  {
        max-width: 325px;
    }

}

@media all and (max-width:400px) {
    .header>.navbar .navbar-brand {
        max-width: 200px;
    }

}





/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: black;
}
.footer .autosize{
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.footer .navbar-nav li a {
  color: white;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer .navbar-brand  {     
  height: auto;
  padding: 12px 12px;
  
}


@media all and (max-width:768px) {

 .footer  .autosize {
    margin: 0 0 0 0;
    height: 20px;
    width: auto;

}

.footer .nav>li, .footer .nav>li>a {
    display: inline;
    font-size: 0.9em;
    line-height: 0.9em;
  }

}


@media all and (max-width:400px) {

   .footer  .autosize {
      margin: 0 0 0 0;
      height: 15px;
      width: auto;
      
  }

  .footer .nav>li, .footer .nav>li>a {
      display: inline;
      font-size: 0.8em;
      line-height: 0.8em;
  }

}