<table class="table">
  <tr *ngFor="let i of rows">
    <td *ngFor="let j of cols">
      <ng-template [ngIf]="tableWidgetExists(i,j)">
        <div optionsDialog [options]="findTableWidget(i,j).widget.options"  [component]="findTableWidget(i,j).widget.component" title="Table">
          <app-widget [formGroup]="formGroup" [widget]="findTableWidget(i,j).widget">
          </app-widget>
        </div>
      </ng-template>
      <div *ngIf="!tableWidgetExists(i,j)" [drop-zone]="{ row: i, col: j}" name="Table">
      </div>
    </td>
  </tr>
</table>

<!-- <pre>
  {{ rows | json }}
  {{ options | json}}
</pre> -->