<div [formGroup]="formGroup">

  <div class="form-group">
    <label>Model</label>
    <input type="text" formControlName="model" class="form-control" placeholder="Model">
  </div>
  <div class="form-group">
      <label>Label</label>
      <input type="text" formControlName="label" class="form-control" placeholder="Label">
    </div>
  <div class="form-group">
    <label>Placeholder</label>
    <input type="text" formControlName="placeholder" class="form-control" placeholder="Placeholder">
  </div>
  <div class="form-group">
      <label>Default Value</label>
      <input type="text" formControlName="defaultValue" class="form-control" placeholder="Default Value">
  </div>
  
</div>

<pre>
{{ formGroup.value | json}}
</pre>