<hr>

<footer class="footer">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" id="canada-logo" target="_blank" href="http://www.esdc.gc.ca/en/student_financial_aid/index.page">
                         <img class="autosize" src="../../../Images/canada-logo-footer.png">
                     </a>
            <a class="navbar-brand" id="ab-logo" target="_blank" href="http://studentaid.alberta.ca">
                         <img class="autosize" src="../../../Images/ab-logo-footer.png">
                     </a>

        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a target="_blank" href="http://studentaid.alberta.ca/contacts">Contacts</a></li>
                <li><a target="_blank" href="http://iae.alberta.ca/using/copyright.aspx">Copyright</a></li>
                <li><a target="_blank" href="http://iae.alberta.ca/using/privacy.aspx">Privacy Statement</a></li>
            </ul>


        </div>

    </div>
</footer>