<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">{{title}}</div>
<!-- 
    <table class="table">
        <thead>
            <tr>
                <th>Rule</th>
                <th>Example</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>All lowercase</td>
                <td>
                    <code><b>feature</b>.type.ts</code>
                </td>
            </tr>
            <tr>
                <td>May contain dashes</td>
                <td>
                    <code><b>feature-list</b>.type.ts</code>
                </td>
            </tr>
            <tr>
                <td>Avoid numbers, use string value instead</td>
                <td>
                    <code><b>feature-one</b>.type.ts</code>
                </td>
            </tr>
        </tbody>
    </table> -->
</div>